html
 head
    title Movies
body
 table
   thead
    th Title
    th Year of Release
    th Rating
    tbody
       each movie in movies
        tr
         td #{movie.title}
         td #{movie.year_of_release}
         td #{movie.rating}