<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{movie.title}}</title>
</head>

<body>
    {% include 'navbar' %}
    <h1>This is the New view</h1>
    <form role="form" action="/movies/{{movie._id}}" method="POST">
        <div class="row">
            <div class="input-group">
                <label for="">Title:</label>
                <br>
                <input type="text" name="title" placeholder="Title" value="{{movie.title}}">
                <br>
                <label for="">Year of Release:</label>
                <br>
                <input type="text" name="Year of Release" value="{{movie.year_of_release}}">
                <br>
                <label for="">Rating:</label>
                <br>
                <input type="number" name="rating" placeholder="Rating" value="{{movie.rating}}">
                <br>
                <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Submit">
        </span>
            </div>
        </div>
    </form>
</body>

</html>
