<!DOCTYPE html>
<html>
<script src="yourComponentFolder/angular-resource/angular-resource.js"></script>

<head>
  <title>Movies</title>
</head>

<body>
  {% include 'navbar' %}
  <h1>Movies listing</h1>

  <table>
    <thead>
      <th>Title</th>
      <th>Year of release</th>
      <th>Rating</th>
    </thead>
    <tbody>
      {% for movie in movies %}
        <tr>
          <td><a href="/movies/{{movie._id}}">{{ movie.title }}</a></td>
          <td>{{ movie.year_of_release }}</td>
          <td>{{ movie.rating }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>